# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Env files
.env

# Node
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# MkDocs build
site/